body {
    font-family: Arial, sans-serif;
    background-image: url('n.jpg');
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
  }
  
  .notification-container {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 1000;
  }
  
  .notification {
    background-color: #007bff;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.2);
    display: flex;
    align-items: center;
  }
  
  .notification p {
    margin: 0;
    flex: 1;
  }
  
  #dismissButton {
    background-color: #fff;
    color: #007bff;
    border: none;
    padding: 5px 10px;
    border-radius: 3px;
    cursor: pointer;
  }
  